
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top px-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LOGO</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </div>
        </div>
        <li class="nav-item dropdown">
            <span style="color: white;">
                Logged in as
            </span>
            <a class="dropdown-toggle link-light active" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <%= locals.user.username %>
            </a>
            <div class="dropdown-menu p-4 text-muted" style="min-width: 270px;">
                <a class="btn btn-dark nav-link active mt-4 link-light" href="/logout">Logout</a>
            </div>
        </li>

    </div>
</nav>